@import "../mixins/mixins";
@import "../variables/universal-variables";
@import "../universal-css/breakpoints";

/*footer styles */
footer {
  width: 100%;
}


.footer-container {
  width: 100%;
  height: auto;
  padding: 35px 0;
  background-color: $style-color;
  position: relative;
  display: flex;
  justify-content: center;

  .footer-sub-container {
    max-width: 1500px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 30px;
    @include media('<=phone') {
      flex-direction: column;
      height: 100%
    };
  }

  .address-sub-container {
    display: flex;
    flex-direction: column;
    @include media('<=phone') {
      margin-bottom: 20px;
    };

    #hours-op {
      font-size: 2em;
      @include font-style($font, 400, $text-color-2);
    }
    .days-op {
      font-size: 1em;
      @include font-style($font, 400, $text-color-2);
    }

    #address {
      padding: 20px 0;
      font-size: 1.5em;
      @include font-style($font, 400, $text-color-2);
    }
    #contact {
      @include font-style($font, 400, $text-color-2);
      font-size: 1em;
    }
  }

.nav-maker-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  @include media('<=phone') {
    justify-content: flex-start;
  };

  .nav-maker-sub-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 42%;
    @include media('<=phone') {
      flex-direction: column;
      justify-content: flex-start;
    };
    }
    .maker {
        @include font-style($font, 400, $text-color-2);
        @include media('<=phone') {
          margin-top: 20px;
        };
    }
  }



.nav-bar {
  height: 150px;
  @include media('<=phone') {

  }
  ul {

      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: space-between;
      height: 100%;
        padding: 0;
        margin: 0;
        align-items: flex-start;

        a {
          text-decoration: none;


      li {
        text-align: center;
        @include font-style($font, 400, $text-color);
        font-size: 1.2em;
                @include media('<=phone') {
                  width: 100%;
                  text-align: left;
                }

      }
      }
    }
}

}
/*end of footer styles*/
