/**
*
* Testing
*
**/
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  border-spacing: 0 !important;
  width: 100%;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

/* Nav bar styles */
/* Burger*/
.burger {
  display: none;
  position: absolute;
  left: 3vw;
  top: 28px;
}
@media (max-width: 768px) {
  .burger {
    display: block !important;
    cursor: pointer;
    position: fixed !important;
    z-index: 400;
  }
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: #FFF;
  margin: 8px;
  transition: all 0.3s ease;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  align-items: center;
  z-index: 400;
  background-color: #f7e1d3;
  transition: all 0.3s ease;
}
header .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 60%;
}
@media (max-width: 768px) {
  header .nav-bar {
    visibility: none;
    flex-direction: column;
    width: 100%;
  }
}
header .nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}
@media (max-width: 768px) {
  header .nav-bar ul {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0;
    padding-left: 0;
    height: 90vh;
    padding-bottom: 10vh;
    background-color: #f7e1d3;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    transform: translateX(-100%);
  }
}
header .nav-bar ul a {
  text-decoration: none;
}
header .nav-bar ul a li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #473D3C;
  font-size: 1.1em;
  transition: all 0.5s;
}
header .nav-bar ul a li:hover {
  color: #705F5E;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  header .nav-bar ul a li {
    opacity: 0;
  }
}

.logo {
  position: fixed;
  right: calc(50% - 35px);
  top: 10px;
  z-index: 400;
}
.logo img {
  width: 70px;
  height: auto;
}

/* Cart Icon */
.cart-icon {
  position: fixed;
  right: 60px;
  color: #FFF;
}
.cart-icon i {
  font-size: 40px;
  color: #FFF;
}
@media (max-width: 500px) {
  .cart-icon {
    right: 20px;
  }
}

.cart-items {
  position: absolute;
  right: 52px;
  top: 20px;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #f7e1d3;
  background: #FFF;
  border-radius: 30%;
  padding: 0 5px;
}
@media (max-width: 500px) {
  .cart-items {
    right: 12px;
  }
}

/* End of Cart Icon */
/* Index.html nav Intersection Observer*/
.nav-scrolled {
  background-color: #f7e1d3 !important;
  transition: all 0.3s ease;
}
.nav-scrolled nav ul a li {
  color: #473D3C !important;
}
.nav-scrolled .burger .line1, .nav-scrolled .burger .line2, .nav-scrolled .burger .line3 {
  background-color: #473D3C;
}

/*mobile nav styles*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -7px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.navFade {
  opacity: 1;
}

.scroll-lock {
  margin: 0;
  height: auto;
  overflow: hidden;
}

.nav-active {
  transform: translateX(0%) !important;
}

/* End of Mobile Nav Styles*/
/*End of Nav styles*/
.master-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1500px;
  align-items: center;
}

/*# sourceMappingURL=_header-test.css.map */
