@import "../universal-css/header-test";
@import "../mixins/mixins";
@import "../universal-css/footer";
@import "../variables/universal-variables";
@import "../universal-css/shopping-cart";

  .sub-container {
    padding: 150px 20px 100px 20px;
    @include font-style($font, 500, $text-color-2);


    h1 {
      font-size: 7em;
      color: #473D3C;
      margin-bottom: 10px;
      text-align: center;
    }
    h2 {
      font-size: 2em;
      color: $text-color-2;
      text-align: center;
    }

    h3 {
      font-size: 3em;
      color: $text-color-2;
      text-align: center;
    }
    a {
      text-decoration: underline;
      text-decoration-thickness: 0.3em;
      color: $text-color-2;
        transition: all 0.5s;
      &:hover {
        color: $style-color;
        transition: all 0.5s;
      }
    }

  }
