/**
*
* Testing
*
**/
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  border-spacing: 0 !important;
  width: 100%;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

/* Nav bar styles */
/* Burger*/
.burger {
  display: none;
  position: absolute;
  left: 3vw;
  top: 28px;
}
@media (max-width: 768px) {
  .burger {
    display: block !important;
    cursor: pointer;
    position: fixed !important;
    z-index: 400;
  }
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: #FFF;
  margin: 8px;
  transition: all 0.3s ease;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  align-items: center;
  z-index: 400;
  background-color: #f7e1d3;
  transition: all 0.3s ease;
}
header .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 60%;
}
@media (max-width: 768px) {
  header .nav-bar {
    visibility: none;
    flex-direction: column;
    width: 100%;
  }
}
header .nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}
@media (max-width: 768px) {
  header .nav-bar ul {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0;
    padding-left: 0;
    height: 90vh;
    padding-bottom: 10vh;
    background-color: #f7e1d3;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    transform: translateX(-100%);
  }
}
header .nav-bar ul a {
  text-decoration: none;
}
header .nav-bar ul a li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #473D3C;
  font-size: 1.1em;
  transition: all 0.5s;
}
header .nav-bar ul a li:hover {
  color: #705F5E;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  header .nav-bar ul a li {
    opacity: 0;
  }
}

.logo {
  position: fixed;
  right: calc(50% - 35px);
  top: 10px;
  z-index: 400;
}
.logo img {
  width: 70px;
  height: auto;
}

/* Cart Icon */
.cart-icon {
  position: fixed;
  right: 60px;
  color: #FFF;
}
.cart-icon i {
  font-size: 40px;
  color: #FFF;
}
@media (max-width: 500px) {
  .cart-icon {
    right: 20px;
  }
}

.cart-items {
  position: absolute;
  right: 52px;
  top: 20px;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #f7e1d3;
  background: #FFF;
  border-radius: 30%;
  padding: 0 5px;
}
@media (max-width: 500px) {
  .cart-items {
    right: 12px;
  }
}

/* End of Cart Icon */
/* Index.html nav Intersection Observer*/
.nav-scrolled {
  background-color: #f7e1d3 !important;
  transition: all 0.3s ease;
}
.nav-scrolled nav ul a li {
  color: #473D3C !important;
}
.nav-scrolled .burger .line1, .nav-scrolled .burger .line2, .nav-scrolled .burger .line3 {
  background-color: #473D3C;
}

/*mobile nav styles*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -7px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.navFade {
  opacity: 1;
}

.scroll-lock {
  margin: 0;
  height: auto;
  overflow: hidden;
}

.nav-active {
  transform: translateX(0%) !important;
}

/* End of Mobile Nav Styles*/
/*End of Nav styles*/
.master-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1500px;
  align-items: center;
}

/**
*
* Testing
*
**/
/*footer styles */
footer {
  width: 100%;
}

.footer-container {
  width: 100%;
  height: auto;
  padding: 35px 0;
  background-color: #f7e1d3;
  position: relative;
  display: flex;
  justify-content: center;
}
.footer-container .footer-sub-container {
  max-width: 1500px;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 30px;
}
@media (max-width: 500px) {
  .footer-container .footer-sub-container {
    flex-direction: column;
    height: 100%;
  }
}
.footer-container .address-sub-container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .footer-container .address-sub-container {
    margin-bottom: 20px;
  }
}
.footer-container .address-sub-container #hours-op {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
}
.footer-container .address-sub-container .days-op {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
}
.footer-container .address-sub-container #address {
  padding: 20px 0;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
}
.footer-container .address-sub-container #contact {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
  font-size: 1em;
}
.footer-container .nav-maker-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  .footer-container .nav-maker-container {
    justify-content: flex-start;
  }
}
.footer-container .nav-maker-container .nav-maker-sub-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 42%;
}
@media (max-width: 500px) {
  .footer-container .nav-maker-container .nav-maker-sub-container {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.footer-container .nav-maker-container .maker {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
}
@media (max-width: 500px) {
  .footer-container .nav-maker-container .maker {
    margin-top: 20px;
  }
}
.footer-container .nav-bar {
  height: 150px;
}
.footer-container .nav-bar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: flex-start;
}
.footer-container .nav-bar ul a {
  text-decoration: none;
}
.footer-container .nav-bar ul a li {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
  font-size: 1.2em;
}
@media (max-width: 500px) {
  .footer-container .nav-bar ul a li {
    width: 100%;
    text-align: left;
  }
}

/*end of footer styles*/
/**
*
* Testing
*
**/
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  border-spacing: 0 !important;
  width: 100%;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

/* Nav bar styles */
/* Burger*/
.burger {
  display: none;
  position: absolute;
  left: 3vw;
  top: 28px;
}
@media (max-width: 768px) {
  .burger {
    display: block !important;
    cursor: pointer;
    position: fixed !important;
    z-index: 400;
  }
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: #FFF;
  margin: 8px;
  transition: all 0.3s ease;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  align-items: center;
  z-index: 400;
  background-color: #f7e1d3;
  transition: all 0.3s ease;
}
header .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 60%;
}
@media (max-width: 768px) {
  header .nav-bar {
    visibility: none;
    flex-direction: column;
    width: 100%;
  }
}
header .nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
}
@media (max-width: 768px) {
  header .nav-bar ul {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0;
    padding-left: 0;
    height: 90vh;
    padding-bottom: 10vh;
    background-color: #f7e1d3;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    transform: translateX(-100%);
  }
}
header .nav-bar ul a {
  text-decoration: none;
}
header .nav-bar ul a li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #473D3C;
  font-size: 1.1em;
  transition: all 0.5s;
}
header .nav-bar ul a li:hover {
  color: #705F5E;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  header .nav-bar ul a li {
    opacity: 0;
  }
}

.logo {
  position: fixed;
  right: calc(50% - 35px);
  top: 10px;
  z-index: 400;
}
.logo img {
  width: 70px;
  height: auto;
}

/* Cart Icon */
.cart-icon {
  position: fixed;
  right: 60px;
  color: #FFF;
}
.cart-icon i {
  font-size: 40px;
  color: #FFF;
}
@media (max-width: 500px) {
  .cart-icon {
    right: 20px;
  }
}

.cart-items {
  position: absolute;
  right: 52px;
  top: 20px;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #f7e1d3;
  background: #FFF;
  border-radius: 30%;
  padding: 0 5px;
}
@media (max-width: 500px) {
  .cart-items {
    right: 12px;
  }
}

/* End of Cart Icon */
/* Index.html nav Intersection Observer*/
.nav-scrolled {
  background-color: #f7e1d3 !important;
  transition: all 0.3s ease;
}
.nav-scrolled nav ul a li {
  color: #473D3C !important;
}
.nav-scrolled .burger .line1, .nav-scrolled .burger .line2, .nav-scrolled .burger .line3 {
  background-color: #473D3C;
}

/*mobile nav styles*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -7px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.navFade {
  opacity: 1;
}

.scroll-lock {
  margin: 0;
  height: auto;
  overflow: hidden;
}

.nav-active {
  transform: translateX(0%) !important;
}

/* End of Mobile Nav Styles*/
/*End of Nav styles*/
.master-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1500px;
  align-items: center;
}

/**
*
* Testing
*
**/
/*footer styles */
footer {
  width: 100%;
}

.footer-container {
  width: 100%;
  height: auto;
  padding: 35px 0;
  background-color: #f7e1d3;
  position: relative;
  display: flex;
  justify-content: center;
}
.footer-container .footer-sub-container {
  max-width: 1500px;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 30px;
}
@media (max-width: 500px) {
  .footer-container .footer-sub-container {
    flex-direction: column;
    height: 100%;
  }
}
.footer-container .address-sub-container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .footer-container .address-sub-container {
    margin-bottom: 20px;
  }
}
.footer-container .address-sub-container #hours-op {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
}
.footer-container .address-sub-container .days-op {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
}
.footer-container .address-sub-container #address {
  padding: 20px 0;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
}
.footer-container .address-sub-container #contact {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
  font-size: 1em;
}
.footer-container .nav-maker-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  .footer-container .nav-maker-container {
    justify-content: flex-start;
  }
}
.footer-container .nav-maker-container .nav-maker-sub-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 42%;
}
@media (max-width: 500px) {
  .footer-container .nav-maker-container .nav-maker-sub-container {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.footer-container .nav-maker-container .maker {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
}
@media (max-width: 500px) {
  .footer-container .nav-maker-container .maker {
    margin-top: 20px;
  }
}
.footer-container .nav-bar {
  height: 150px;
}
.footer-container .nav-bar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: flex-start;
}
.footer-container .nav-bar ul a {
  text-decoration: none;
}
.footer-container .nav-bar ul a li {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #473D3C;
  font-size: 1.2em;
}
@media (max-width: 500px) {
  .footer-container .nav-bar ul a li {
    width: 100%;
    text-align: left;
  }
}

/*end of footer styles*/
/*Cart*/
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.5);
  z-index: 502;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 503;
  background: rgba(224, 125, 120, 0.5);
  padding: 1.5rem;
  transition: all 0.5s;
  transform: translate(100%);
}
@media (min-width: 500px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #FFF;
}

.close-cart i {
  color: #FFF;
}

@media (min-width: 500px) {
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible !important;
}

/* Cart Item */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 1.5rem;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #473D3C;
  color: #FFF;
}
.cart-item h5 {
  margin: 0.5rem 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #473D3C;
}
.cart-item span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #473D3C;
}
.cart-item i, .cart-item p {
  color: #473D3C;
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: #473D3C;
  cursor: pointer;
}

/* End of cart item*/
.cart-footer {
  margin-top: 2rem;
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #473D3C;
}
.cart-footer .clear-cart {
  background-color: #FFF;
  border-style: none;
  font-size: 1.5em;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #f7e1d3;
}

/*End of Cart*/
.sub-container {
  padding: 150px 20px 100px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #473D3C;
}
.sub-container h1 {
  font-size: 7em;
  color: #473D3C;
  margin-bottom: 10px;
  text-align: center;
}
.sub-container h2 {
  font-size: 2em;
  color: #473D3C;
  text-align: center;
}
.sub-container h3 {
  font-size: 3em;
  color: #473D3C;
  text-align: center;
}
.sub-container a {
  text-decoration: underline;
  text-decoration-thickness: 0.3em;
  color: #473D3C;
  transition: all 0.5s;
}
.sub-container a:hover {
  color: #f7e1d3;
  transition: all 0.5s;
}

/*# sourceMappingURL=404.css.map */
