@import "../universal-css/header-test";
@import "../universal-css/footer";
@import "../variables/universal-variables";

html {
  font-size: 16px;
}


.sub-container {
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;

  h1 {
    text-align: center;
    align-self: flex-start;
    font-size: 4em;
    @include font-style($font, 600, $text-color-2);
    @include media('<=phone') {
      align-self: center;
    }
  }
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;

  @include media('<=phone') {
    flex-direction: column;
    img {
      width: 100%;
    }
  }

  img {
    width: 48%;
    height: auto;

    @include media('<=phone') {
        width: 100%;
    }

  }

  h2 {
    text-align: justify;

    width: 48%;
    @include font-style($font, 400, $text-color-2);
    @include media('<=phone') {
        width: 100%;
    }

  }
}
.footer-container ul li {
  color: $text-color !important;
}
