{%extends 'base.html'%}
{% block head %}  <link rel="stylesheet" href="/static/css/page-css/index.css"> {% endblock %}
{% block title %}Sam and Company - Stationery and Art Supplies{% endblock %}
{%block content%}

    <div class="cart-overlay">
      <div class="cart">
        <span class="close-cart"><i class="fas fa-window-close"></i></span>
        <h2>your cart</h2>
        <div class="cart-content">
          <!--cart item -->


          <!--end of cart item-->
          </div>

        <div class="cart-footer">
          <h3>your total: $ <span class="cart-total">0</span></h3>
          <button class="clear-cart banner-btn">clear cart</button>
          </div>
        </div>
      </div>
    <div class="banner-image">
      <style>
        .banner-image {
          /* Firefox fallback */
          background-image: url(/static/images/banner-2500.jpg);
          /* Everything else */
          background-image: -webkit-image-set(url(/static/images/banner-2500.jpg) 1x, url(/static/images/banner-800.jpg) 2x, url(/static/images/banner-500.jpg) 3x);
        }
      </style>
      <div class="inner-container">
        <div class="overlay">
          <h1>SAM & COMPANY</h1>
           <h2>since 1980</h2>
           <a id="scroll-img" href="#shop-id"><span></span>Scroll</a>
        </div>
      </div>

    </div>
    <div class="master-container">
      <div class="sub-container">
        <div id="shop-id" class="shop-explanation">
          a family-run <span style="font-weight: 600; color: #7A4B2D">stationery and art supply store</span> <br>located in the heart of Hong Kong
        </div>
      </div>
      <div class="shop-container">
        <div class="shop-sub-container">
          <h3 id="shop-title">shop</h3>
          <h4>shop our limited items here or visit our store/contact us for more information on our products!</h4>
          <h3>Discount Items</h3>
          <div class="shop-image-container">
          <!--  <div class="shop-container shop-space">
              <img src="/static/images/shop-1.jpg" alt="">
              <span>seasonal</span>
            </div> -->
            <div class="discount-container">
                {% for product in products: %}
            <article class="product {{product.category}} {{product.category2}}">
        <div class="img-container">
        <img src="{{ product | get_image }}" class="" alt="{{product.title}}">
          <button class="bag-btn" data-id={{product.id}}><i class="fas fa-shopping-cart"></i><a href="{{url_for('get_product_detail',product_id=product.id)}}">Details</a>
          </button>
        </div>
        <h3>{{product.title}}</h3>
        <h4>{{product.category}}</h4>
        <h4>{{product.category2}}</h4>
        <h4>{{product.price}}</h4>
      </article>
            {% endfor %}

                </div>
            </div>


          </div>
          <div class="cta-buttons">
            <!-- <button type="button" class="cta-button" name="contact-button">contact</button> -->
            <a href="{{url_for('store')}}"><button type="button" class="cta-button" name="store-button">store</button></a>


          </div>
        </div>


      </div>
      <div class="find-us-container">
        <h3>Find Us</h3>
        <div class="find-us-sub-container sub-container">
          <div class="address-container">
            <img src="/static/images/map-banner-500.jpg"
                  srcset="/static/images/map-banner-500.jpg 500w,
                  /static/images/map-banner-800.jpg 800w,
                  /static/images/map-banner-2500.jpg 2500w"
                  sizes="(min-width: 800px) 40vw, 50vw">
              <div class="address-sub-container">
                <span id="address">G/F, 38 Stanley Street, Central, HK</span>
                <span id="hours-op">Hours of operation</span>
                <span class="days-op"><span style="font-weight: 400;">9am - 7pm</span> Monday-Friday</span>
                <span class="days-op"><span style="font-weight: 400;">9am - 5:30pm</span> Saturday</span>
                <span class="days-op">(closed on Sundays and public holidays)</span>
              </div>
          </div>

          <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d29535.279085365833!2d114.15319253008545!3d22.28140316132221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d22.282239999999998!2d114.1768192!4m5!1s0x3404007b4e37a0e7%3A0xc673e11adaabe9c9!2ssam%20and%20company!3m2!1d22.282505399999998!2d114.15531159999999!5e0!3m2!1sen!2shk!4v1614254946106!5m2!1sen!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>



        </div>
      </div>

{% endblock %}

{% block scripts %}

    <script src="/static/js/nav-bar.js"></script>
    <script src="/static/js/scroll.js"></script>
    <script src="/static/js/nav-fade.js"></script>

    <!--contentful-->
    <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
      <script src="https://kit.fontawesome.com/ba0537b27e.js" crossorigin="anonymous"></script>
          <script src="/static/js/discount-display.js"></script>
<!--CLoudinary-->
      <!--  <script src="/lodash/lodash.js" type="text/javascript"></script>
    <script src="/cloudinary-core/cloudinary-core.js" type="text/javascript"></script> -->

    <!--contentful-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>
    <script src="static/js/cart.js"></script>
    <script "text/javascript" src="static/js/scroll.js"></script> -->
    <script src="https://kit.fontawesome.com/ba0537b27e.js" crossorigin="anonymous"></script>

{% endblock %}



